:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;

    --c-black:  rgb(20, 20, 50);
    --c-pink:   #f72585;
    --c-orange: #f47e3e;
    --c-blue:   #00c8f5;
    --c-green:  #00f5ab;
    --c-white:  #e1faf9;

    --c-black-code: rgb(60, 60, 90);
    --c-black-section: rgb(40, 40, 70);
}

html {
    background-color: var(--c-black);
    color: var(--c-white);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

main>h1 {
    flex: 1;
}

main>h1>a {
    color: var(--c-white);
    cursor: pointer;
    transition: .2s;
}

main>h1>a:hover {
    color: var(--c-green);
}

main>p {
    flex: 1;
}

#about-me-text {
    background-color: var(--c-black-section);
    border-radius: 20px;
    width: 90vw;
    padding: 4vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.anchor-btn {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--c-blue);
    color: var(--c-black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    width: 100px;
    height: 1rem;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.anchor-btn:hover {
    background-color: var(--c-green);
}

.showcase-btn {
    width: 10vw;
    height: 10vw;
}

.icon-anchor {
    text-decoration: none;
}

.readme {
    background-color: var(--c-black-section);
    width: 95vw;
    padding: 20px;
    border-radius: 20px;
    margin-top: 80px;
}

pre {
    background-color: var(--c-black-code);
    font-family: monospace;
    padding: 20px;
    border-radius: 20px;
}

code {
    background-color: var(--c-black-code);
    font-family: monospace;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

pre>code {
    background-color: var(--c-black-code);
}

a {
    color:var(--c-blue);
    transition: .2s;
}

.nav-bar {
    background-color: var(--c-black-section);
    text-align: center;
    border-radius: 20px;
    padding: 2vh 4vw 2vh 4vw;
}
